.venv/
venv/
env/
__pycache__/
*.pyc
.env
# Databases
*.db
*.sqlite3
data/*.db
# Ignore contents of logs, but keep .gitkeep
logs/*
!logs/.gitkeep

# Ignore generated reports, but keep .gitkeep
reports/*
!reports/.gitkeep